template(name="usercard")
  .usercard(style="background-image:url('#{services.twitter.profile_image_url}');")
    .basic
      img(src="#{services.twitter.profile_image_url}" class="avatar")  
      h1 
        a(href="{{pathFor 'profile'}}")
          | #{profile.name}
      h5 @#{services.twitter.screenName}

      button.btn.btn-default
        a(href="http://twitter.com/#{services.twitter.screenName}") Follow
